---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import farver from "../assets/images/01-farver.png";
import foto1 from "../assets/images/foto1.jpg";
import foto2 from "../assets/images/foto2.jpg";
import foto3 from "../assets/images/foto3.jpg";

---
<MainLayout title="Blues genren" description="Blues er en musikgenre, der opstod i de afroamerikanske samfund i det sydlige USA omkring slutningen.." ogtitle="Blues genren" ogdescription="Blues er en musikgenre, der opstod i de afroamerikanske samfund i det sydlige USA omkring slutningen..">
	<div class="grid mx-auto container gap-2 pt-8 prose scroll-smooth">
        <h1>Blues genren</h1>
        <article>
            <h2>Hvad er blues genren?</h2>
            <p>Blues er en musikgenre, der opstod i de afroamerikanske samfund i det sydlige USA omkring slutningen af det 19. århundrede. 
                Genren har rødder i spirituelle sange, arbejdssange, feltarbejdernes råb og afrikansk musiktradition, 
                og den blev især udviklet af tidligere slaver og deres efterkommere.</p>

            <ul>
                <li>Bluesmusik er ofte bygget op omkring en 12-takters skala, der gentager sig. Denne struktur er et af de mest genkendelige træk ved genren.</li>
                <li>Melodier i blues bruger en særlig skala kaldet blues-skalaen, som ofte inkluderer flade toner, der giver musikken en "blueset" eller melankolsk lyd.</li>
            </ul>

            <Image src={foto1} alt="Man der spiller musik" />

            <hr>
        </article>

        <article>
            
        </article>
    </div>
</MainLayout>